<div class="box">
    <p class="title is-4">
    Fichiers à télécharger:
    </p>
    <a href="/static/download/fichier_question_{{name}}.tex" download="fichier_question_{{name}}.tex">
        <button class="button is-link"> fichier_question_{{name}}.tex </button>
    </a>
    {% for filename in outputs %}
        <a href="/static/download/fichier_code_{{filename}}" download="fichier_code_{{filename}}">
            <button class="button is-link"> fichier_code_{{filename}} </button>
        </a>
    {% endfor %}
</div>