<!DOCTYPE html>
<html data-theme="light" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projet QCMs S4</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
  <div class="container" style="padding-top: 10px;">
    <div class="notification is-info">
      <button class="delete"></button>
      <strong>Chargez votre QCM :</strong> Sélectionnez et téléchargez votre fichier de questions en cliquant sur "Choisir un fichier..." sous "Code Source".
      <strong>Téléversez les Réponses (facultatif) :</strong> Si nécessaire, chargez également le fichier de réponses.
      <strong>Générez :</strong> Choisissez le format de votre QCM et cliquez sur "Générer QCM".
    </div>
  </div>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Générateur de QCMs 
      </h1>
      <p class="subtitle">
        Outil de génération de QCMs pour formats <strong>AMC/Moodle</strong>.
      </p>
      <form id="qcmForm" action="/process_qcm" method="post" enctype="multipart/form-data">
        <div class="columns">
          <div class="column">
              <div class="box">
                  <nav class="level">
                      <div class="level-left">
                        <h1 class="title is-4">Code Source</h1>
                      </div>
                      <div class="level-right">
                        <span class="icon is-medium">
                          <i class="fas fa-2x fa-file-code"></i>
                        </span>
                      </div>
                    </nav>
                  <nav class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <div class="block">
                          <div class="file has-name">
                              <label class="file-label">
                              <input class="file-input" type="file" name="source_file">
                              <span class="file-cta">
                                  <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                  </span>
                                  <span class="file-label">
                                  Choisir un fichier...
                                  </span>
                              </span>
                              <span class="file-name"> Aucun fichier... </span>
                              </label>
                          </div>
                        </div>
                      </div>
                      <div class="level-item">
                        <div class="control">
                          <label class="radio">
                          <input type="radio" name="output_type" value="amc" checked>
                          AMC
                          </label>
                          <label class="radio">
                          <input type="radio" name="output_type" value="moodle">
                          Moodle
                          </label>
                          <label class="radio" disabled>
                          <input type="radio" name="output_type" value="other" disabled>
                          Other
                          </label>
                        </div>
                      </div>
                    </div>
                  </nav>
              </div>
          </div>
          <div class="column">
              <div class="box">
                  <nav class="level">
                    <div class="level-left">
                      <h1 class="title is-4">Fichier réponses</h1>
                    </div>
                    <div class="level-right">
                      <span class="icon is-medium">
                        <i class="fas fa-2x fa-tasks"></i>
                      </span>
                    </div>
                  </nav>
                  <nav class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <div class="block">
                          <div class="file has-name">
                            <label class="file-label">
                              <input class="file-input" type="file" name="answer_file">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  Choisir un fichier...
                                </span>
                              </span>
                              <span class="file-name"> Aucun fichier... </span>
                            </label>
                        </div>
                        </div>
                      </div>
                      <div class="level-item">
                        <div class="control">
                          <div class="select">
                            <select name="format_select">
                              {% for langage in langages %}
                                <option value="{{ langage }}">{{ langage }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
              </div>
          </div>
        </div>
        <div class="control">
          <button class="button is-primary" id="generateButton" disabled>Générer QCM</button>
        </div>
      </form>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <progress class="progress is-small is-primary" id="loadBar" max="100" style="display: none;">15%</progress>
    </div>
    <div id="result"></div>
  </section>
  </body>
</html>